<div class="sticky">
  <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="logo">
          <h10>"Life is a journey......enjoy the ride"</h10>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "Home", root_path %></li>
          <li class="divider"></li>
          <li><%= link_to "About", about_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Course Map", course_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Event Details", event_details_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Shop", products_path %></li>
        </ul>
      </section>
    </nav>
  </div>
</div>

